* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family:Arial, Helvetica, sans-serif;
}

.nav-bar {
    background-color: rgba(29, 23, 151, 0.569);
}

.book-card{
    border: transparent;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 220px;
    border-radius: 20px;
    box-shadow: 0 4px 8px black;
    height: 330px;
    display: inline-block;
}

.book-card img{
    height: 250px;
    width: 200px;
}

.book-title {
    font-size: 16px;
    height: 40px;
}

.book-author {
    font-size: 14px;
    height: 10px;
}

.list-title {
    font-size: 20pt;
}
